<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger name="com.kt.bigdata.bigmama" level="DEBUG"/>

  <springProfile name="local">
    <logger name="com.kt.bigdata.bigmama" level="DEBUG"/>
  </springProfile>

  <springProfile name="dev">
    <logger name="com.kt.bigdata.bigmama" level="DEBUG"/>
  </springProfile>

  <springProfile name="prod">
    <logger name="com.kt.bigdata.bigmama" level="ERROR"/>
  </springProfile>
</configuration>
